NEXT_PUBLIC_SUPABASE_URL=https://hnjfloqhkhhcmshooxdo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Y0P0oGhXLgykk0Hsfi-Zvg_0aGnvpOL
NEXT_PUBLIC_SITE_URL=http://localhost:3000
APP_TIME_ZONE=Asia/Kolkata
